.social-icon-container {
  margin: 1.5em 0;
}

.email-text {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .1em;
  margin-bottom: 3em;

  @media screen and (max-width: 640px) {
    font-size: 1.25em;
  }
}

.social-icons {
  width: 100%;
}

.social-icon-img {
  filter: invert(100%);
  height: 3em;
  position: relative;
  bottom: 0;
  transition: .2s;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-img-container {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.social-icon-img:hover {
  bottom: 4px;
}

.social-icon-text {
  width: 70%;
  font-size: 1.25em;
  letter-spacing: .05em;
  margin-left: 1em;
  text-align: left;
}