.email-text {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .1em;
  margin-bottom: 3em;

  @media screen and (max-width: 640px) {
    font-size: 1.25em;
  }
}

.social-icon-img {
  filter: invert(100%);
  width: 4em;
  position: relative;
  bottom: 0;
  transition: .2s;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-img:hover {
  bottom: 4px;
}

.social-icon-text {
  font-size: 1.25em;
  letter-spacing: .05em;
  margin-left: 1em;
}