header h1 {
  color: #fff;
  letter-spacing: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  position: fixed;
  top: 1em;
  left: .5em;
  text-align: center;
  width: 100%;
}