
nav {
  margin: 5em auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.navlink-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s;
}

nav h2 {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-weight: 300;
  letter-spacing: .15em;
  font-size: 1.25em;
  cursor: pointer;
  margin-bottom: .5em;
}

.projects-hover-line {
  min-width: 0em;
  max-width: 0em;
  background: #fff;
  height: 2px;
  transition: .5s;
}

.projects-nav-hovered {
  min-width: 8em !important;
}

.projects-nav-active {
  min-width: 8em !important;
}

.bio-hover-line {
  min-width: 0em;
  background: #fff;
  height: 2px;
  transition: .5s;
}

.bio-nav-hovered {
  min-width: 3em !important;
}

.bio-nav-active {
  min-width: 3em !important;
}

.contact-hover-line {
  min-width: 0em;
  background: #fff;
  height: 2px;
  transition: .5s;
}

.contact-nav-hovered {
  min-width: 7.4em !important;
}

.contact-nav-active {
  min-width: 7.4em !important;
}
