/* 

Color Hex

#ffffff - White
#abadbd - Light Gray
#2d2d40 - Slate Grey
#1f244d - Slate Blue
#080e3a - Deep Blue

*/

@import 'src/styles/fonts';
@import 'src/styles/header';
@import 'src/styles/nav';

body {
  margin: 0;
  background: #13131c;
  text-align: center;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./pngflow.png), url(./pngflow-flipped.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .15;
}